.fondo{
    display: inline-flex;
    background-image: url(".../../../docs/assets/imagenes/fondodientes1.jpg");
    margin-block-start: 101px;
    margin-top: -60px;
    background-size: 54%;
    width: 100%;
    padding: 6%;
  }

  .project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #3cff00;
    background-color: transparent;
    border-color: transparent transparent #ffe600;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ffe600;
    border-color: transparent transparent #ffe600;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
    color: #3cff00;
}
.project-tab .nav-link:before {
    border: none;
    color: #3cff00;
}
.project-tab thead{
    background: #c4a5b8;
    color: #333;
}
.project-tab td{
    text-decoration: none;
    color: #f29c93;
    font-weight: 900;
    background-color: #5c2440;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 16px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 16px 0px #f29c93;
	box-shadow:inset 0px 1px 16px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8f0037), color-stop(1, #a87993));
	background:-moz-linear-gradient(top, #5c2440 5%, #a87993 100%);
	background:-webkit-linear-gradient(top, #5c2440 5%, #a87993 100%);
	background:-o-linear-gradient(top, #5c2440 5%, #a87993 100%);
	background:-ms-linear-gradient(top, #5c2440 5%, #a87993 100%);
	background:linear-gradient(to bottom, #5c2440 5%, #a87993 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#5c2440;
	-moz-border-radius:16px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:2px solid #4b0d07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:17px 72px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a87993), color-stop(1, #a87993));
	background:-moz-linear-gradient(top, #a87993 5%, #a87993 100%);
	background:-webkit-linear-gradient(top, #a87993 5%, #a87993 100%);
	background:-o-linear-gradient(top, #a87993 5%, #a87993 100%);
	background:-ms-linear-gradient(top, #a87993 5%, #a87993 100%);
	background:linear-gradient(to bottom, #a87993 5%, #a87993 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#a87993;
}
.myButton:active {
	position:relative;
	top:1px;
}