<!--
<div class="fondo">
<div style="
display: grid;
padding: 99px; margin-left: 31%;">
<br>
<br>
    <a routerLink="/Estadisticas/Registros" class="myButton" >De Empleados</a>
    <br>

    <a href="#"  routerLink="/Estadisticas/TurnosAdmin" class="myButton">De Turnos</a>
    <br>
    <a href="#" routerLink="/Estadisticas/EncuestasAdmin" class="myButton">De las especialidades</a>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
-->


<div class="fondo">

    <div class="row" style="    margin-top: 20px;
    margin-left: 0px;     margin-right: 0px;margin-bottom: 29px;">
      <div class="col-md-4">

          <mat-card class="example-card">
              <img mat-card-image src="./assets/imagenes/dentista.jpg" alt="Photo of a Shiba Inu">
              
              <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Estadisticas de Empleados</mat-card-title>
                  <br>
                  <mat-card-subtitle>Consulta registros de ingresos y actividades realizadas
                  </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                
                  <p><a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/Estadisticas/Registros">Consultar</a></p>
                </mat-card-content>
              
            </mat-card>


      </div>

      <div class="col-md-4">

          <mat-card class="example-card">

              <img mat-card-image src="./assets/imagenes/turno2.jpg" alt="Photo of a Shiba Inu">
              
              <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Estadisticas de Turnos</mat-card-title>
                  
                  <mat-card-subtitle>Consulta registros de turnos y cancelaciones</mat-card-subtitle>
                </mat-card-header>

              <mat-card-content>
                
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/Estadisticas/TurnosAdmin">Consultar</a>
                </p>
              </mat-card-content>

            </mat-card>
    
      </div>

      <div class="col-md-4">

          <mat-card class="example-card">

              <img mat-card-image src="./assets/imagenes/especialidades.jpg" alt="Photo of a Shiba Inu">
              
              <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Estadisticas de Especialidades</mat-card-title>
                  <mat-card-subtitle>Consulta encuestas por especialidad</mat-card-subtitle>
                </mat-card-header>

              <mat-card-content>
                
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="#" role="button" routerLink="/Estadisticas/EncuestasAdmin">Consultar</a>
                </p>
              </mat-card-content>

            </mat-card>
    
      </div>
      
      
  </div>

</div>
