/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.fondo{
   
  background-image: url(".../../../docs/assets/imagenes/dent4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -60px;
  padding:4%;
}

  

    
    .example-card {
      max-width: 400px;
      font-family: 'Poppins', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      font-size: x-large;
      margin-left: 30%; 
    
    }
    
    .example-header-image {
      background-image: url('/assets/imagenes/dientefeliz1.jpg');
      background-size: cover;
    }